@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Instrument+Serif&family=Nunito:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
}
p, a, h1, h2, h3, h4, h6, input, ul, li, button{
    font-family: 'Nunito', sans-serif;
}


header{
    position: fixed;
    width: 100%;
    align-items: center;
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    height: 7rem;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
}

.logo img{
    height: 3rem;
}

.logo p{
    font-weight: bolder;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.listNav{
    display: flex;
    gap: 2rem;
}

.listNav p{
    font-size: 1.5rem;
    cursor: pointer;
}

.listNav p:hover{
    text-decoration: underline;
}

.listNav p:nth-child(1){
    font-weight: bolder;
}

nav button{
    border: none;
    height: 3.5rem;
    width: 13rem;
    font-size: 1.5rem;
    background-color: #3952B6;
    color: white;
    border-radius: 3rem;
    cursor: pointer;
    transition: background 0.3s,
                transform 0.2s;
}

nav button:hover{
    background-color: #5c7cff;
}

.menu{
    display: none;
}

.section{
    padding-top: 12rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-between;
}

.section h1{
    font-size: 5.5rem;
    width: 50rem;
}

.section .texto{
    font-size: 1.5rem;
    width: 50rem;
    line-height: 1.7;
}

.section .divUno{
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section .divUno .divDos{
    display: flex;
    width: 52rem;
    height: 6rem;
    background-color: #F5F5F5;
    border-radius: 3rem;
    align-items: center;
    padding-left: 3rem;
    padding-right: 1rem;
    box-sizing: border-box;
    
}

.section .divUno .divDos img{
    height: 1.5rem;
    cursor: pointer;
}

.section .divUno .divDos input{
    width: 100%;
    border: none;
    font-size: 1.5rem;
    background-color: #F5F5F5;
    padding-left: 1rem;
    outline: none;
}

.section .divUno .divDos button{
    border: none;
    height: 3.5rem;
    width: 13rem;
    font-size: 1.5rem;
    background-color: #3952B6;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    transition: background 0.3s,
                transform 0.2s;
}

.section .divUno .divDos button:hover{
    background-color: #5c7cff;
}

.section .divUno .divTres{
    display: flex;
    gap: 3rem;
}

.section .divUno .divTres p{
    font-size: 3rem;
}

.section .divUno .divTres h4{
    font-size: 1.5rem;
}

.section .imagen{
    height: 50rem;
    border-radius: 2rem;
}

.sectionDos{
    padding: 5rem;
}

.sectionDos .divUno{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionDos .divUno h2{
    font-size: 3.5rem;
}

.sectionDos .divUno .texto{
    font-size: 1.5rem;
    width: 50rem;
    line-height: 1.7;
}

.sectionDos .divDos{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 1.5rem;
}

.sectionDos .divDos .img1{
    background-image: url(primeraimagen.jpg);
    height: 20rem;
    border-radius: 2rem;
    background-position: center;
    padding: 1.5rem;
}

.sectionDos .divDos .img2{
    background-image: url(imagendos.jpg);
    height: 20rem;
    border-radius: 2rem;
    background-position: center;
    padding: 1.5rem;
}

.sectionDos .divDos .img3{
    background-image: url(imagentres.jpg);
    height: 20rem;
    border-radius: 2rem;
    background-position: center;
    padding: 1.5rem;
}

.sectionDos .divDos .img4{
    background-image: url(imagencuatro.jpg);
    height: 20rem;
    border-radius: 2rem;
    background-position: center;
    padding: 1.5rem;
}

.sectionDos .divDos .divTres p:nth-child(1){
    border-radius: 2rem;
    background-color: #222430;
    color: white;
    font-size: 1.5rem;
    display: inline-block;
    font-weight: bolder;
    padding: 0.5rem 2rem;
}

.sectionDos .divDos .divTres h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.sectionDos .divDos .divTres a{
    text-decoration: none;
    display: flex;
    color: black;
    font-size: 1.5rem;
    gap: 1rem;
}

.sectionDos .divDos .divTres a:hover{
    text-decoration: underline;
}

.sectionDos .divDos .divTres a img{
    height: 2rem;
}

.sectionDos .divCuatro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionDos .divCuatro p{
    font-size: 1.5rem;
}


.sectionDos .divCuatro button{
    height: 4rem;
    width: 12rem;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 2rem;
    cursor: pointer;
    transition: background 0.3s,
                transform 0.2s;
}

.sectionDos .divCuatro button:hover{
    background-color: rgb(238, 238, 238);
}

.sectionTres{
    padding: 5rem;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-around;
}

.sectionTres div{
    width: 45rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionTres div h2{
    font-size: 3.5rem;
}

.sectionTres div p{
    font-size: 1.5rem;
    line-height: 1.7;
}

.sectionTres div img{
    width: 45rem;
    border-radius: 2rem;
}

.sectionCuatro{
    padding: 5rem;
}

.sectionCuatro .divUno{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionCuatro .divUno h2{
    font-size: 3.5rem;
    width: 45rem;
}

.sectionCuatro .divUno .texto{
    font-size: 1.5rem;
    width: 50rem;
    line-height: 1.7;
}

.sectionCuatro .divDos{
    margin: 5rem 0;
    display: flex;
    gap: 1.5rem;
}

.sectionCuatro .divDos h3{
    border-radius: 50%;
    background-color: #222430;
    color: white;
    font-size: 2.5rem;
    display: inline-block;
    font-weight: bolder;
    padding: 1rem 1.7rem;
    margin-bottom: 1rem;
}

.sectionCuatro .divDos h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.sectionCuatro .divDos p{
    font-size: 1.5rem;
    line-height: 1.7;
}

.sectionCuatro .divTres{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionCuatro .divTres p{
    font-size: 1.5rem;
}


.sectionCuatro .divTres button{
    height: 4rem;
    width: 12rem;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 2rem;
    cursor: pointer;
    transition: background 0.3s,
                transform 0.2s;
}

.sectionCuatro .divTres button:hover{
    background-color: rgb(238, 238, 238);
}

.sectionCinco{
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}

.sectionCinco .divUno{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionCinco .divUno h2{
    font-size: 3.5rem;
    width: 45rem;
    margin-bottom: 1rem;
}

.sectionCinco .divUno .texto{
    font-size: 1.5rem;
    width: 50rem;
    line-height: 1.7;
}

.sectionCinco .imagen{
    height: 70rem;
    border-radius: 2rem;
    width: 55rem;
}


.sectionCinco .divUno .divDos img{
    height: 2.5rem;
    border-radius: 50%;
    background-color: #222430;
    padding: 1rem 1.2rem;
}

.sectionCinco .divUno .divDos{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.sectionCinco .divUno .divDos .divTres{
    display: flex;
    gap: 1.5rem;
    width: 50rem;
    padding: 1.5rem;
    border-radius: 1rem;
}

.sectionCinco .divUno .divDos .divTres:nth-child(1){
    box-shadow: 0rem 12rem 27rem #d3d3d3;
}

.sectionCinco .divUno .divDos .divTres h3{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

.sectionCinco .divUno .divDos .divTres p{
    font-size: 1.5rem;
    line-height: 1.7;
}

.sectionSeis{
    padding: 5rem;
}

.sectionSeis .divUno{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionSeis .divUno h2{
    font-size: 3.5rem;
    width: 45rem;
}

.sectionSeis .divUno .texto{
    font-size: 1.5rem;
    width: 50rem;
    line-height: 1.7;
}

.sectionSeis .divDos{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.sectionSeis .divDos .divTres{
    font-size: 1.5rem;
    line-height: 1.7;
    padding: 1.5rem 1.5rem;
    border-radius: 2rem;
}

.sectionSeis .divDos .divTres:nth-child(1){
    box-shadow: 0rem 8rem 27rem #d3d3d3;
}

.sectionSeis .divDos .divTres img{
    height: 3rem;
    border-radius: 2rem;
}

.sectionSeis .divDos .divTres .divCuatro{
    display: flex;
    margin-top: 3rem;
    gap: 1rem;
}

.sectionSiete{
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}

.sectionSiete .imagen{
    height: 50rem;
    border-radius: 2rem;
}

.sectionSiete .divUno{
    height: 50rem;
    width: 57rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionSiete .divUno h1{
    font-size: 5.5rem;
    width: 52rem;
}

.sectionSiete .divUno p{
    font-size: 1.5rem;
    width: 50rem;
    line-height: 1.7;
}

.sectionSiete .divUno button{
    border: none;
    height: 4.5rem;
    width: 18rem;
    font-size: 1.5rem;
    background-color: #3952B6;
    color: white;
    border-radius: 3rem;
    cursor: pointer;
    transition: background 0.3s,
                transform 0.2s;
}

.sectionSiete .divUno button:hover{
    background-color: #5c7cff;
}

.sectionSiete .divUno div{
    display: flex;
    justify-content: space-between;
}

.sectionSiete .divUno div img{
    height: 18rem;
    width: 18rem;
    border-radius: 2rem;
}

footer{
    padding: 7rem 5rem;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
}

footer .divUno{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 23rem;
}

footer .divUno div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

footer .divUno div img{
    height: 3rem;
}

footer .divUno div h6{
    font-size: 1.5rem;
}

footer .divUno p{
    font-size: 1.5rem;
    line-height: 1.7;
}

footer .divDos{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 23rem;
}

footer .divDos h6{
    font-size: 1.5rem;
}
footer .divDos div{
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
}


footer .divDos div p:hover{
    text-decoration: underline;
}

footer .divTres{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 23rem;
}

footer .divTres h6{
    font-size: 1.5rem;
}

footer .divTres div{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
}

footer .divTres div:hover{
    text-decoration: underline;
}

footer .divTres img{
    height: 2rem;
}

footer .divCuatro{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 23rem;
}

footer .divCuatro p{
    font-size: 1.5rem;
    font-weight: bolder;
}

footer .divCuatro input{
    height: 4rem;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 1.5rem;
    outline: none;
    padding: 0 1rem;
    box-sizing: border-box;
}

footer .divCuatro button{
    border: none;
    height: 4rem;
    font-size: 1.5rem;
    background-color: #3952B6;
    color: white;
    border-radius: 3rem;
    cursor: pointer;
    transition: background 0.3s,
                transform 0.2s;
}

footer .divCuatro button:hover{
    background-color: #5c7cff;
}


@media (max-width:1500px){
    nav{
        padding: 0 3rem;
        height: 6rem;
    }
    
    
    .logo p{
        font-size: 1rem;
    }
    
    .listNav{
        gap: 1rem;
    }
    
    .listNav p{
        font-size: 1rem;
    }
    
    .listNav p img{
        height: 0.8rem;
    }
    
    nav button{
        height: 3rem;
        width: 10rem;
        font-size: 1rem;
    }

    .section{
        padding-top: 8rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
    }
    
    .section h1{
        font-size: 3rem;
        width: 30rem;
    }
    
    .section .texto{
        font-size: 1rem;
        width: 30rem;
    }
    
    .section .divUno{
        height: 28rem;
    }
    
    .section .divUno .divDos{
        width: 30rem;
        height: 4rem;
        padding-left: 2rem;
    }
    
    .section .divUno .divDos img{
        height: 1rem;
    }
    
    .section .divUno .divDos input{
        font-size: 1rem;
    }
    
    .section .divUno .divDos button{
        height: 3rem;
        width: 10rem;
        font-size: 1rem;
    }
    
    
    .section .divUno .divTres{
        gap: 2rem;
    }
    
    .section .divUno .divTres p{
        font-size: 2rem;
    }
    
    .section .divUno .divTres h4{
        font-size: 1rem;
    }
    
    .section .imagen{
        height: 28rem;
    }    
    
    .sectionDos{
        padding: 3rem;
    }
    
    .sectionDos .divUno{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .sectionDos .divUno h2{
        font-size: 2.5rem;
    }
    
    .sectionDos .divUno .texto{
        font-size: 1rem;
        width: 30rem;
    }
    
    .sectionDos .divDos{
        margin-top: 3rem;
        margin-bottom: 3rem;
        gap: 1rem;
    }
    
    .sectionDos .divDos .img1{
        background-image: url(primeraimagen.jpg);
        height: 10rem;
        padding: 1rem;
    }
    
    .sectionDos .divDos .img2{
        background-image: url(imagendos.jpg);
        height: 10rem;
        padding: 1rem;
    }
    
    .sectionDos .divDos .img3{
        background-image: url(imagentres.jpg);
        height: 10rem;
        padding: 1rem;
    }
    
    .sectionDos .divDos .img4{
        background-image: url(imagencuatro.jpg);
        height: 10rem;
        padding: 1rem;
    }
    
    .sectionDos .divDos .divTres p:nth-child(1){
        font-size: 1rem;
    }
    
    .sectionDos .divDos .divTres h3{
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    .sectionDos .divDos .divTres a{
        font-size: 1rem;
    }
    
    .sectionDos .divDos .divTres a img{
        height: 1rem;
    }
    
    .sectionDos .divCuatro p{
        font-size: 1rem;
    }
    
    .sectionDos .divCuatro button{
        height: 3rem;
        width: 10rem;
        font-size: 1rem;
    }


    .sectionTres{
        padding: 3rem;
    }
    
    .sectionTres div{
        width: 25rem;
        height: 30rem;
    }
    
    .sectionTres div h2{
        font-size: 2rem;
    }
    
    .sectionTres div p{
        font-size: 1rem;
    }
    
    .sectionTres div img{
        width: 25rem;
    }


    .sectionCuatro{
        padding: 3rem;
    }
    
    .sectionCuatro .divUno h2{
        font-size: 2.5rem;
        width: 28rem;
    }
    
    .sectionCuatro .divUno .texto{
        font-size: 1rem;
        width: 30rem;
    }
    
    .sectionCuatro .divDos{
        margin: 2.5rem 0;
        gap: 1rem;
    }
    
    .sectionCuatro .divDos h3{
        font-size: 2rem;
        padding: 1rem 1.6rem;
        margin-bottom: 0.5rem;
    }
    
    .sectionCuatro .divDos h2{
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    }
    
    .sectionCuatro .divDos p{
        font-size: 1rem;
    }

    
    .sectionCuatro .divTres p{
        font-size: 1rem;
    }
    
    .sectionCuatro .divTres button{
        height: 3rem;
        width: 10rem;
        font-size: 1rem;
    }


    .sectionCinco{
        padding: 3rem;
    }
    .sectionCinco .divUno{
        height: 50rem;
        
    }
    
    .sectionCinco .divUno h2{
        font-size: 2rem;
        width: 28rem;
    }
    
    .sectionCinco .divUno .texto{
        font-size: 1rem;
        width: 28rem;
    }
    
    .sectionCinco .imagen{
        height: 50rem;
        width: 28rem;
    }
    
    
    .sectionCinco .divUno .divDos img{
        height: 1rem;
        padding: 1rem 1.1rem;
    }
    
    .sectionCinco .divUno .divDos{
        gap: 3rem;
    }
    
    .sectionCinco .divUno .divDos .divTres{
        gap: 1rem;
        width: 25rem;
        padding: 0.6rem;
    }
    
    .sectionCinco .divUno .divDos .divTres:nth-child(1){
        box-shadow: 0rem 12rem 27rem #d3d3d3;
    }
    
    .sectionCinco .divUno .divDos .divTres h3{
        font-size: 2rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    
    .sectionCinco .divUno .divDos .divTres p{
        font-size: 1rem;
    }
    


    .sectionSeis{
        padding: 3rem;
    }
    
    .sectionSeis .divUno h2{
        font-size: 2.5rem;
        width: 28rem;
    }
    
    .sectionSeis .divUno .texto{
        font-size: 1rem;
        width: 28rem;
    }
    
    .sectionSeis .divDos{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .sectionSeis .divDos .divTres{
        font-size: 1rem;
        padding: 1rem;
    }
    
    

    .sectionSiete{
        padding: 3rem;
    }
    
    .sectionSiete .imagen{
        height: 28rem;
    }
    
    .sectionSiete .divUno{
        height: 28rem;
        width: 30rem;
    }
    
    .sectionSiete .divUno h1{
        font-size: 3rem;
        width: 28rem;
    }
    
    .sectionSiete .divUno p{
        font-size: 1rem;
        width: 28rem;
    }
    
    .sectionSiete .divUno button{
        height: 3rem;
        width: 10rem;
        font-size: 1rem;
    }
    
    .sectionSiete .divUno div img{
        height: 9rem;
        width: 9rem;
    }
    

    footer{
        padding: 6rem 3rem;
    }
    
    footer .divUno{
        width: 13rem;
    }
    
    
    footer .divUno div h6{
        font-size: 1rem;
    }
    
    footer .divUno p{
        font-size: 1rem;
    }
    
    footer .divDos{
        width: 13rem;
    }
    
    footer .divDos h6{
        font-size: 1rem;
    }
    footer .divDos div{
        font-size: 0.9rem;
    }
    
    
    footer .divTres{
        width: 13rem;
    }
    
    footer .divTres h6{
        font-size: 1rem;
    }
    
    footer .divTres div{
        font-size: 0.9rem;
    }
    
    
    footer .divTres img{
        height: 1.5rem;
    }
    
    footer .divCuatro{
        gap: 1.2rem;
        width: 13rem;
    }
    
    footer .divCuatro p{
        font-size: 1rem;
    }
    
    footer .divCuatro input{
        height: 3rem;
        font-size: 1rem;
        padding: 0 1rem;
    }
    
    footer .divCuatro button{
        height: 3rem;
        font-size: 1rem;
    }
    
    footer .divCuatro button:hover{
        background-color: #5c7cff;
    }

    
    
}


@media (max-width:720px){
    nav{
        padding: 0 3rem;
        height: 9rem;
    }
    
    .logo p{
        font-size: 2rem;
    }

    .logo img{
        height: 5rem;
    }
    
    .listNav{
        display: none;
    }
    
    nav button{
        display: none;
    }

    .menu{
        display: block;
        height: 5rem;
        cursor: pointer;
    }

    .section{
        padding-top: 10rem;
        display: flex;
        align-items: center;
    }
    
    .section h1{
        font-size: 4rem;
        width: 100%;
    }
    
    .section .texto{
        font-size: 1.5rem;
        width: 100%;
    }
    
    .section .divUno{
        height: 45rem;
    }
    
    .section .divUno .divDos{
        width: 100%;
        height: 7rem;
    }
    
    .section .divUno .divDos img{
        height: 2.5rem;
    }
    
    .section .divUno .divDos input{
        font-size: 1.5rem;
    }
    
    .section .divUno .divDos button{
        height: 5rem;
        width: 12rem;
        font-size: 1.5rem;
    }
    
    
    .section .divUno .divTres{
        gap: 0;
        justify-content: space-between;
    }
    
    .section .divUno .divTres p{
        font-size: 2.5rem;
    }
    
    .section .divUno .divTres h4{
        font-size: 1.5rem;
    }
    
    .section .imagen{
        display: none;
    }
    
    
    .sectionDos{
        padding: 3rem;
    }
    
    .sectionDos .divUno{
        display: block;
    }
    
    .sectionDos .divUno h2{
        font-size: 3.5rem;
    }
    
    .sectionDos .divUno .texto{
        font-size: 1.5rem;
        width: 100%;
    }
    
    .sectionDos .divDos{
        margin-top: 4rem;
        margin-bottom: 4rem;
        gap: 0;
        flex-wrap: wrap;
    }

    .sectionDos .divDos .divTres{
        margin-bottom: 3rem;
    }
    
    .sectionDos .divDos .img1{
        height: 15rem;
    }
    
    .sectionDos .divDos .img2{
        height: 15rem;
    }
    
    .sectionDos .divDos .img3{
        height: 15rem;
    }
    
    .sectionDos .divDos .img4{
        height: 15rem;
    }
    
    .sectionDos .divDos .divTres p:nth-child(1){
        font-size: 1.5rem;
    }
    
    .sectionDos .divDos .divTres h3{
        font-size: 1.8rem;
    }
    
    .sectionDos .divDos .divTres a{
        font-size: 1.5rem;
        gap: 0;
    }
    
    .sectionDos .divDos .divTres a img{
        height: 1.8rem;
    }
    
    .sectionDos .divCuatro p{
        font-size: 1.5rem;
        width: 22rem;
    }
    
    .sectionDos .divCuatro button{
        height: 5rem;
        width: 12rem;
        font-size: 1.5rem;
    }

    .sectionTres{
        flex-wrap: wrap;
    }
    
    .sectionTres div{
        width: 100%;
        height: 50rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 4rem;
    }
    
    .sectionTres div h2{
        font-size: 3.5rem;
    }
    
    .sectionTres div p{
        font-size: 1.5rem;
    }
    
    .sectionTres div img{
        width: 100%;
    }

    .sectionTres div:nth-child(2){
        flex-direction: column-reverse;
    }

    .sectionCuatro .divUno{
        display: block;
    }
    
    .sectionCuatro .divUno h2{
        font-size: 3.5rem;
        width: 100%;
    }
    
    .sectionCuatro .divUno .texto{
        font-size: 1.5rem;
        width: 100%;
    }
    
    .sectionCuatro .divDos{
        margin: 4rem 0;
        gap: 0;
        flex-wrap: wrap;
    }
    
    .sectionCuatro .divDos h3{
        font-size: 4rem;
        padding: 1rem 2.4rem;
        margin-bottom: 0.5rem;
        text-align: center;
        display: inline-block;
    }
    
    .sectionCuatro .divDos h2{
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
    
    .sectionCuatro .divDos p{
        font-size: 1.5rem;
    }

    
    .sectionCuatro .divTres p{
        font-size: 1.5rem;
        width: 22rem;
    }
    
    .sectionCuatro .divTres button{
        height: 5rem;
        width: 12rem;
        font-size: 1.5rem;
    }




    .sectionCinco{
        display: block;
    }
    .sectionCinco .divUno{
        height: 100%;
        
    }
    
    .sectionCinco .divUno h2{
        font-size: 3.5rem;
        width: 100%;
    }
    
    .sectionCinco .divUno .texto{
        font-size: 1.5rem;
        width: 100%;
    }
    
    .sectionCinco .imagen{
        height: 40rem;
        width: 100%;
    }
    
    
    .sectionCinco .divUno .divDos img{
        height: 1.5rem;
        padding: 1rem 1.1rem;
    }
    
    .sectionCinco .divUno .divDos{
        gap: 3rem;
        margin: 3rem 0;
    }
    
    .sectionCinco .divUno .divDos .divTres{
        gap: 1rem;
        width: 100%;
        padding: 0.6rem;
    }
    
    
    .sectionCinco .divUno .divDos .divTres h3{
        font-size: 2rem;
    }
    
    .sectionCinco .divUno .divDos .divTres p{
        font-size: 1.5rem;
    }

 
    .sectionSeis .divUno{
        display: block;
    }

    .sectionSeis .divUno h2{
        font-size: 3.5rem;
        width: 100%;
    }
    
    .sectionSeis .divUno .texto{
        font-size: 1.5rem;
        width: 100%;
    }
    
    .sectionSeis .divDos{
        flex-wrap: wrap;
    }
    
    .sectionSeis .divDos .divTres{
        margin: 1rem 0;
        font-size: 1.5rem;
        padding: 1rem;
    }
    .sectionSeis .divDos .divTres .divCuatro{
        margin: 0.5rem 0;
    }

    .sectionSiete{
        flex-wrap: wrap;
        padding-top: 0;
    }
    
    .sectionSiete .imagen{
        height: 25rem;
        width: 100%;
        margin-bottom: 2rem;
    }
    
    .sectionSiete .divUno{
        height: 37rem;
        width: 100%;
    }
    
    .sectionSiete .divUno h1{
        font-size: 3.5rem;
        width: 100%;
    }
    
    .sectionSiete .divUno p{
        font-size: 1.5rem;
        width: 100%;
    }
    
    .sectionSiete .divUno button{
        height: 5rem;
        width: 15rem;
        font-size: 1.5rem;
    }
    
    .sectionSiete .divUno div img{
        height: 11rem;
        width: 11rem;
    }



    footer{
        padding: 6rem 3rem;
        flex-wrap: wrap;
    }
    
    footer .divUno{
        width: 15rem;
        margin-bottom: 1.5rem;
    }
    
    
    footer .divUno div h6{
        font-size: 1.5rem;
    }
    
    footer .divUno p{
        font-size: 1.5rem;
    }
    
    footer .divDos{
        width: 15rem;
        margin-bottom: 1.5rem;
    }
    
    footer .divDos h6{
        font-size: 1.5rem;
    }
    footer .divDos div{
        font-size: 1.3rem;
    }
    
    
    footer .divTres{
        width: 15rem;
    }
    
    footer .divTres h6{
        font-size: 1.5rem;
    }
    
    footer .divTres div{
        font-size: 1.3rem;
    }
    
    
    footer .divTres img{
        height: 2rem;
    }
    
    footer .divCuatro{
        gap: 1.2rem;
        width: 18rem;
    }
    
    footer .divCuatro p{
        font-size: 1.5rem;
    }
    
    footer .divCuatro input{
        height: 5rem;
        width: 18rem;
        font-size: 1.5rem;
        box-sizing: border-box;
    }
    
    footer .divCuatro button{
        height: 5rem;
        width: 18rem;
        font-size: 1.5rem;
    }
    
}


