@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Instrument+Serif&family=Nunito:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
}
p, a, h1, h2, h3, h4, h6, input, ul, li, button{
    font-family: 'Nunito', sans-serif;
}


header{
    position: fixed;
    width: 100%;
    align-items: center;
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    height: 7rem;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
}

.logo img{
    height: 3rem;
}

.logo p{
    font-weight: bolder;
    font-size: 1.5rem;
}

.listNav{
    display: flex;
    gap: 2rem;
}

.listNav p{
    font-size: 1.5rem;
    cursor: pointer;
}

.listNav p:hover{
    text-decoration: underline;
}

.listNav p:nth-child(1){
    font-weight: bolder;
}

nav button{
    border: none;
    height: 3.5rem;
    width: 13rem;
    font-size: 1.5rem;
    background-color: #3952B6;
    color: white;
    border-radius: 3rem;
    cursor: pointer;
    transition: background 0.3s,
                transform 0.2s;
}

nav button:hover{
    background-color: #5c7cff;
}

.section{
    padding-top: 12rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-between;
}

.section h1{
    font-size: 5.5rem;
    width: 50rem;
}

.section .texto{
    font-size: 1.5rem;
    width: 50rem;
    line-height: 1.7;
}

.section .divUno{
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section .divUno .divDos{
    display: flex;
    width: 52rem;
    height: 6rem;
    background-color: #F5F5F5;
    border-radius: 3rem;
    align-items: center;
    padding-left: 3rem;
    padding-right: 1rem;
    box-sizing: border-box;
    
}

.section .divUno .divDos img{
    height: 1.5rem;
    cursor: pointer;
}

.section .divUno .divDos input{
    width: 100%;
    border: none;
    font-size: 1.5rem;
    background-color: #F5F5F5;
    padding-left: 1rem;
    outline: none;
}

.section .divUno .divDos button{
    border: none;
    height: 3.5rem;
    width: 13rem;
    font-size: 1.5rem;
    background-color: #3952B6;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    transition: background 0.3s,
                transform 0.2s;
}

.section .divUno .divDos button:hover{
    background-color: #5c7cff;
}

.section .divUno .divTres{
    display: flex;
    gap: 3rem;
}

.section .divUno .divTres p{
    font-size: 3rem;
}

.section .divUno .divTres h4{
    font-size: 1.5rem;
}

.section .imagen{
    height: 50rem;
    border-radius: 2rem;
}

.sectionDos{
    padding: 5rem;
}

.sectionDos .divUno{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionDos .divUno h2{
    font-size: 3.5rem;
}

.sectionDos .divUno .texto{
    font-size: 1.5rem;
    width: 50rem;
    line-height: 1.7;
}

.sectionDos .divDos{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 1.5rem;
}

.sectionDos .divDos .img1{
    background-image: url(primeraimagen.jpg);
    height: 20rem;
    border-radius: 2rem;
    background-position: center;
    padding: 1.5rem;
}

.sectionDos .divDos .img2{
    background-image: url(imagendos.jpg);
    height: 20rem;
    border-radius: 2rem;
    background-position: center;
    padding: 1.5rem;
}

.sectionDos .divDos .img3{
    background-image: url(imagentres.jpg);
    height: 20rem;
    border-radius: 2rem;
    background-position: center;
    padding: 1.5rem;
}

.sectionDos .divDos .img4{
    background-image: url(imagencuatro.jpg);
    height: 20rem;
    border-radius: 2rem;
    background-position: center;
    padding: 1.5rem;
}

.sectionDos .divDos .divTres p:nth-child(1){
    border-radius: 2rem;
    background-color: #222430;
    color: white;
    font-size: 1.5rem;
    display: inline-block;
    font-weight: bolder;
    padding: 0.5rem 2rem;
}

.sectionDos .divDos .divTres h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.sectionDos .divDos .divTres a{
    text-decoration: none;
    display: flex;
    color: black;
    font-size: 1.5rem;
    gap: 1rem;
}

.sectionDos .divDos .divTres a:hover{
    text-decoration: underline;
}

.sectionDos .divDos .divTres a img{
    height: 2rem;
}

.sectionDos .divCuatro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionDos .divCuatro p{
    font-size: 1.5rem;
}


.sectionDos .divCuatro button{
    height: 4rem;
    width: 12rem;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 2rem;
    cursor: pointer;
    transition: background 0.3s,
                transform 0.2s;
}

.sectionDos .divCuatro button:hover{
    background-color: rgb(238, 238, 238);
}

.sectionTres{
    padding: 5rem;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-around;
}

.sectionTres div{
    width: 45rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionTres div h2{
    font-size: 3.5rem;
}

.sectionTres div p{
    font-size: 1.5rem;
    line-height: 1.7;
}

.sectionTres div img{
    width: 45rem;
    border-radius: 2rem;
}

.sectionCuatro{
    padding: 5rem;
}

.sectionCuatro .divUno{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionCuatro .divUno h2{
    font-size: 3.5rem;
    width: 45rem;
}

.sectionCuatro .divUno .texto{
    font-size: 1.5rem;
    width: 50rem;
    line-height: 1.7;
}

.sectionCuatro .divDos{
    margin: 5rem 0;
    display: flex;
    gap: 1.5rem;
}

.sectionCuatro .divDos h3{
    border-radius: 50%;
    background-color: #222430;
    color: white;
    font-size: 2.5rem;
    display: inline-block;
    font-weight: bolder;
    padding: 1rem 1.7rem;
    margin-bottom: 1rem;
}

.sectionCuatro .divDos h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.sectionCuatro .divDos p{
    font-size: 1.5rem;
    line-height: 1.7;
}

.sectionCuatro .divTres{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionCuatro .divTres p{
    font-size: 1.5rem;
}


.sectionCuatro .divTres button{
    height: 4rem;
    width: 12rem;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 2rem;
    cursor: pointer;
    transition: background 0.3s,
                transform 0.2s;
}

.sectionCuatro .divTres button:hover{
    background-color: rgb(238, 238, 238);
}

.sectionCinco{
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}

.sectionCinco .divUno{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionCinco .divUno h2{
    font-size: 3.5rem;
    width: 45rem;
    margin-bottom: 1rem;
}

.sectionCinco .divUno .texto{
    font-size: 1.5rem;
    width: 50rem;
    line-height: 1.7;
}

.sectionCinco .imagen{
    height: 70rem;
    border-radius: 2rem;
    width: 55rem;
}


.sectionCinco .divUno .divDos img{
    height: 2.5rem;
    border-radius: 50%;
    background-color: #222430;
    padding: 1rem 1.2rem;
}

.sectionCinco .divUno .divDos{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.sectionCinco .divUno .divDos .divTres{
    display: flex;
    gap: 1.5rem;
    width: 50rem;
    padding: 1.5rem;
    border-radius: 1rem;
}

.sectionCinco .divUno .divDos .divTres:nth-child(1){
    box-shadow: 0rem 12rem 27rem #d3d3d3;
}

.sectionCinco .divUno .divDos .divTres h3{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

.sectionCinco .divUno .divDos .divTres p{
    font-size: 1.5rem;
    line-height: 1.7;
}

.sectionSeis{
    padding: 5rem;
}

.sectionSeis .divUno{
    display: flex;
    justify-content: space-between;
}

.sectionSeis .divUno h2{
    font-size: 3.5rem;
    width: 45rem;
}

.sectionSeis .divUno .texto{
    font-size: 1.5rem;
    width: 50rem;
    line-height: 1.7;
}

.sectionSeis .divDos{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.sectionSeis .divDos .divTres{
    font-size: 1.5rem;
    line-height: 1.7;
    padding: 1.5rem 1.5rem;
    border-radius: 2rem;
}

.sectionSeis .divDos .divTres:nth-child(1){
    box-shadow: 0rem 8rem 27rem #d3d3d3;
}

.sectionSeis .divDos .divTres img{
    height: 3rem;
    border-radius: 2rem;
}

.sectionSeis .divDos .divTres .divCuatro{
    display: flex;
    margin-top: 3rem;
    gap: 1rem;
}

.sectionSiete{
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}

.sectionSiete .imagen{
    height: 50rem;
    border-radius: 2rem;
}

.sectionSiete .divUno{
    height: 50rem;
    width: 57rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionSiete .divUno h1{
    font-size: 5.5rem;
    width: 52rem;
}

.sectionSiete .divUno p{
    font-size: 1.5rem;
    width: 50rem;
    line-height: 1.7;
}

.sectionSiete .divUno button{
    border: none;
    height: 4.5rem;
    width: 18rem;
    font-size: 1.5rem;
    background-color: #3952B6;
    color: white;
    border-radius: 3rem;
    cursor: pointer;
    transition: background 0.3s,
                transform 0.2s;
}

.sectionSiete .divUno button:hover{
    background-color: #5c7cff;
}

.sectionSiete .divUno div{
    display: flex;
    justify-content: space-between;
}

.sectionSiete .divUno div img{
    height: 18rem;
    width: 18rem;
    border-radius: 2rem;
}

footer{
    padding: 7rem 5rem;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
}

footer .divUno{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 23rem;
}

footer .divUno div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

footer .divUno div img{
    height: 3rem;
}

footer .divUno div h6{
    font-size: 1.5rem;
}

footer .divUno p{
    font-size: 1.5rem;
    line-height: 1.7;
}

footer .divDos{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 23rem;
}

footer .divDos h6{
    font-size: 1.5rem;
}
footer .divDos div{
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
}

footer .divDos div p:hover{
    text-decoration: underline;
}

footer .divTres{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 23rem;
}

footer .divTres h6{
    font-size: 1.5rem;
}

footer .divTres div{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
}

footer .divTres div:hover{
    text-decoration: underline;
}

footer .divTres img{
    height: 2rem;
}

footer .divCuatro{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 23rem;
}

footer .divCuatro p{
    font-size: 1.5rem;
    font-weight: bolder;
}

footer .divCuatro input{
    height: 4rem;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 1.5rem;
    outline: none;
    padding: 0 1rem;
}

footer .divCuatro button{
    border: none;
    height: 4rem;
    font-size: 1.5rem;
    background-color: #3952B6;
    color: white;
    border-radius: 3rem;
    cursor: pointer;
    transition: background 0.3s,
                transform 0.2s;
}

footer .divCuatro button:hover{
    background-color: #5c7cff;
}


/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Instrument+Serif&family=Nunito:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    width: 1920px;
}
header, .section, .sectiondos, .sectiontres, .sectioncuatro, .sectioncinco, .sectionseis, .sectionsiete, footer{
    padding-left: 5%;
    padding-right: 5%;
}

a{
    text-decoration: none;
    color: black;
}

p, a, h1, h2, h3{
    font-family: 'Nunito', sans-serif;
}

.divnav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 10%;
    background-color: white;
    position: fixed;
    align-items: center;
}

.dis{
    display: flex;
    align-items: center;
}

.disdos{
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
}

.espacio{
    width: 90%;
    padding-bottom: 10%;
}

.logo{
    height: 1.5rem;
}
.lark{
    font-weight: bold;
}

.gray{
    color: gray;
}

.flecha{
    height: 0.9rem;
}

.graydos{
    color: gray;
    padding-right: 0.5rem;
}


.icon{
   display: flex;
   align-items: center;
}

.home:hover{
    text-decoration: underline;

}
.gray:hover{
    text-decoration: underline;

}

.graydos:hover{
    text-decoration: underline;

}
.boton{
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 2rem;
    background-color: #3952B6;
    transition: background 0.3s,
                transform 0.2s;
}

.boton:hover{
    transform: scale(1.2);
}
.blanco{
    color: white;
}
.menus{
    display: flex;
    align-items: center;
}
.menu{
    height: 2rem;
}
@media(min-width:750px){
    .menu{
        display:none
    }
}
.section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15% ;
}

.titulo{
    font-weight: bolder;
    font-size: 5.5rem;
    margin-bottom: 2rem;
}

.divuno{
    width: 50%;
}

.imagenuno{
    height: 50rem;
    width: 42rem;
    border-radius: 2rem;
}

.textouno{
    font-size: 1.5rem;
    color: gray;
    margin-bottom: 4rem;
}

.divsearch{
    display: flex;
    align-items: center;
}

.iconosearch{
    background-color: #F5F5F5;
    border-top-left-radius: 5rem ;
    border-bottom-left-radius: 4rem;
    height: 6rem;
    display: flex;
    align-items: center;
    
    
}
.minisearch{
    margin-left: 2rem;
    height: 1.5rem;
}
.searchuno{
    width: 80%;
    height: 6rem;
    background-color: #F5F5F5;
    border: none;
    padding-left: 2rem;
}

.fondo{
    display: flex;
    align-items: center;
    height: 6rem;
    background-color: #F5F5F5;
    border-top-right-radius: 4rem ;
    border-bottom-right-radius: 4rem;
}
.botondos{
    margin-right: 1rem;
    width: 10rem;
    height: 4rem;
    border: none;
    border-radius: 2rem;
    background-color: #3952B6;
    font-size: 1.2rem;
    transition: background 0.3s,
                transform 0.2s;
}
.botondos:hover{
    transform: scale(1.2);
}
.divnum{
    margin-top: 4rem;
    display: flex;
    width: 80%;
    justify-content: space-between;
   
}

.num{
    font-size: 3.5rem;
    font-weight: bolder;
}

.textnum{
    font-size: 1.5rem;
}



.secciondos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6%;
}

.titulodos{
    font-size: 4rem;
}

.textodos{
    font-size: 1.5rem;
    color: gray;
    width: 50%;
}

.imagenes{
    display: flex;
    margin-bottom: 10%;
    justify-content: space-between;
}

.imagenfondo{
    background-image: url(primeraimagen.jpg);
    height: 20rem;
    width: 21rem;
    border-radius: 2rem;
    background-position: center;
    padding: 1.5rem;
    margin-bottom: 2.3rem;
    margin-right: 1rem;
}

.imagenfondoDos{
    background-image: url(imagendos.jpg);
    height: 20rem;
    width: 21rem;
    border-radius: 2rem;
    background-position: center;
    padding: 1.5rem;
    margin-bottom: 2.3rem;
    margin-right: 1rem;
}

.imagenfondoTres{
    background-image: url(imagentres.jpg);
    height: 20rem;
    width: 21rem;
    border-radius: 2rem;
    background-position: center;
    padding: 1.5rem;
    margin-bottom: 2.3rem;
    margin-right: 1rem;
}

.imagenfondoCuatro{
    background-image: url(imagencuatro.jpg);
    height: 20rem;
    width: 21rem;
    border-radius: 2rem;
    background-position: center;
    padding: 1.5rem;
    margin-bottom: 2.3rem;
    margin-right: 1rem;
}

.precio{
    height: 4rem;
    width: 10rem;
    border: none;
    border-radius: 2rem;
    background-color: #222430;
    font-size: 1.8rem;
    color: white;
    font-weight: bolder;
}

.textoimagen{
    width: 23rem;
    font-size: 3.2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.ubicacion{
    display: flex;
    font-size: 1.5rem;
}

.ubi{
    padding-left:  1rem;
  
}

.ubi:hover{
    text-decoration: underline;
}

.sectiontres{
    padding-top: 5%;
    padding-bottom: 5%;
}

.abajo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    align-items: center;
}

.mitad{
    width: 42.5%;
}

.seemoreUno{
    font-size: 1.5rem;
    color: gray;
}

.seemoreDos{
    height: 5rem;
    width: 15rem;
    font-size: 1.5rem;
    border: none solid black;
    border-radius: 3rem ;
    background-color: white;
    transition: background 0.3s,
                transform 0.2s;
}

.seemoreDos:hover{
    transform: scale(1.2);
}

.sectiontres{
    display: flex;
    justify-content: space-around;
    background-color: #FAFAFA;
}

.titulotres{
    font-size: 4rem;
    padding-bottom: 2rem;
}

.tresimagenesuno{
    border-radius: 2rem;
    height: 30rem;
    margin-top: 2rem;
    width: 45rem;
}

.tresimagenesdos{
    margin-bottom: 2rem;
    border-radius: 2rem;
    height: 30rem;
    width: 45rem;
}

.sectioncuatro{
    padding-top: 5%;
}

.divsecuatro{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
    align-items: center;
}

.titulocuatro{
    font-size: 4rem;
    width: 45%;
}

.textoseccuatro{
    font-size: 1.5rem;
    color: gray;
    width: 45%;
}

.enumeracion{
    display: flex;
    margin-bottom: 6%;
}

.seccuatro{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.numero{
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 5rem;
    background-color: #222430;
    
}

.textotres{
    font-size: 1.5rem;
    color: gray;

}

.ancho{
    margin-right: 1rem;
}


.sectioncinco{
   display: flex;
   justify-content: space-between;
   padding-bottom: 10%;
}

.titulocinco{
    font-size: 4rem;
    width: 45rem;
    margin-bottom: 2rem;
}

.textocinco{
    font-size: 1.5rem;
    width: 48rem;
    margin-bottom: 2rem;
}

.cinco{
    height: 60rem;
    width: 52rem;
    border-radius: 2rem;
}

.subtitulocinco{
    font-size: 3.5rem;
    padding-left: 1rem;
}

.subtextocinco{
    font-size: 1.5rem;
    width: 45rem;
    padding-left: 1rem;
}

.boxcinco{
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 12rem;
    width: 50rem;
    border-radius: 2.5rem;
    display: flex;
}


.boxsombracinco{
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 12rem;
    width: 50rem;
    border-radius: 2.5rem;
    box-shadow: 0rem 10rem 27rem #d3d3d3;
    display: flex;
}

.check{
    height: 4rem;
    width: 4rem;
    background-color: #222430;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkdos{
    height: 2rem;
    color: white;

}

.sectionseis{
    padding-bottom: 10%;
}
.divseis{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.tituloseis{
    font-size: 4rem;
    width: 50rem;
    margin-bottom: 2rem;
}

.seis{
    display: flex;
    justify-content: space-between;
}

.dosseis{
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
}

.unoseis{
    width: 49rem;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
}

.unoseissombra{
    width: 49rem;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 1.5rem;
    box-shadow: 0rem 10rem 27rem #d3d3d3 ;
}

.tresseis{
    display: flex;
    align-items: center;
}

.subtituloseis{
    font-size: 1.7rem;
}

.nombre{
    padding-top: 0.5rem;
    font-size: 1.2rem;
}

.perfil{
    height: 3rem;
    border-radius: 3rem;
    margin-right: 1rem;
}


.sectionsiete{
    display: flex;
    padding-bottom: 10%;
    justify-content: space-between;
}

.pileta{
    height: 50rem;
    width: 47rem;
    border-radius: 2rem;
}

.titulosiete{
    font-size: 5rem;
    width: 50rem;
    margin-bottom: 2rem;
}

.textosiete{
    font-size: 1.5rem;
    width: 55rem;
    margin-bottom: 2rem;
    line-height: 3rem;
}

.getazul{
    width: 18rem;
    height: 5rem;
    border: none;
    border-radius: 3rem;
    background-color: #3952B6;
    transition: background 0.3s,
                transform 0.2s;
}

.getazul:hover{
    transform: scale(1.2);
}

.blancodos{
    color: white;
    font-size: 1.5rem;
}

.ilera{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.minifoto{
    height: 18rem;
    width: 17rem;
    border-radius: 2rem;
}


footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 8%;
}

.textofooter{
    padding-top: 1rem;
    font-size: 1.5rem;
    width: 25rem;
    line-height: 2.5rem;
}

.uno{
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}


.dos{
    font-weight: bolder;
    margin-bottom: 1rem;
}

.info{
    font-size: 1rem;
    width: 13rem;
}

.divinfo{
    display: flex;
    margin-bottom: 1rem;
}

.iconfooter{
    height: 1rem;
    margin-right: 0.5rem;
}


.email{
    height: 2.5rem;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    width: 20rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}


.submit{
    border-radius: 3rem;
    align-items: center;
    width: 22rem;
    height: 4rem;
    border: none;
    background-color: #3952B6;
    transition: background 0.3s,
                transform 0.2s;
}

.submit:hover{
    transform: scale(1.2);
}



@media(max-width:730px){
    .boton{
        display: none;
    }
    .menu{
        height: 10rem;
    }
    .disdos{
        display: none;
    }
    .logo{
        height: 10rem;
    }
    .lark{
        font-size: 4rem;
    }
    .espacio{
        height: 15rem;
    }
    .divuno{
        width: 100%;
        margin-right: 3rem;
    }
    .titulo{
        font-size: 5rem;
    }
    .textouno{
        font-size: 3rem;
    }
    .iconosearch{
        height: 10rem;
    }
    .searchuno{
        height: 10rem;
        width: 90%;
        font-size: 2rem;
        border-top-right-radius: 4rem ;
        border-bottom-right-radius: 4rem;
    }
    .botondos{
        display: none;

    }
    .divnum{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .textnum{
        flex-wrap: wrap;
        font-size: 3rem;
        margin-right: 2rem;
    }
    .imagenuno{
        height: 68rem;
    }
    .textodos{
        font-size: 2.5rem;
    }
    .imagenes{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .imagenfondo, .imagenfondoDos, .imagenfondoTres, .imagenfondoCuatro{
        width: 35rem;
    }
    .ubi{
        font-size: 3rem;
        padding-bottom: 2rem;
    }
   
    .seemoreUno{
        font-size: 3rem;
        width: 50rem;
    }
    
    .seemoreDos{
        height: 10rem;
        width: 20rem;
    }
    .textoseccuatro{
        font-size: 3rem;
    }
    .enumeracion{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .textotres{
        margin-right: 2rem;
        padding-bottom: 5rem;
        font-size: 3rem;
        width: 35rem;
    }
    .sectioncinco{
        flex-wrap: wrap;

    }
    .textocinco{
        font-size: 3rem;
    }
    .boxsombracinco, .boxcinco{
        height: 20rem;
    }
    .subtextocinco{
        font-size: 2.5rem;
    }
    .cinco{
        height: 100%;
    }
    .seis{
        flex-wrap: wrap;
    }
    .dosseis{
        font-size: 2rem;
    }
    .textosiete{
        font-size: 2.5rem;
    }
    
}
@media(max-width:1024px){
    *{
        flex-wrap: wrap;
    }
    
    .imagenuno{
        height: 33rem;
        width: 25rem;
        border-radius: 2rem;
    }
    p{
        font-size: 0.7rem;
    }
    .flecha{
        height: 0.5rem;
    }
    .titulo{
        font-size: 3rem;
    }
    .textouno{
        font-size: 1rem;
    }
    .num{
        font-size: 1.5rem;
        font-weight: bolder;
    }
    .textnum{
        font-size: 0.8rem;
    }
    .titulodos{
        font-size: 2rem;
    }
    .imagenfondo{
        height: 5rem;
        width: 5rem;
    }
    .imagenfondoDos{
        height: 5rem;
        width: 5rem;
    }
    .imagenfondoTres{
        height: 5rem;
        width: 5rem;
    }
    .imagenfondoCuatro{
        height: 5rem;
        width: 5rem;
    }
    .precio{
        font-size: 1rem;
    }
    .textoimagen{
        font-size: 1rem;
        width: 5rem;
    }
    .tresimagenesuno{
        height: 10rem;
        width: 10rem;
    }
    .tresimagenesdos{
        height: 10rem;
        width: 10rem;
    }
    .titulocuatro{
        font-size: 2rem;
    }
    .numero{
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
    }
    .seccuatro{
        font-size: 1.5rem;
    }
    .textotres{
        font-size: 0.9rem;
    }
    .titulocuatro{
        font-size: 1rem;
        width: 10rem;
    }
    .textoseccuatro{
        font-size: 1rem;
    }
    .seemoreUno{
        font-size: 1rem;
        width: 10rem;
    }
    .cinco{
        height: 8rem;
        width: 1rem;
    }
    .titulocinco{
        font-size: 1rem;
    }
    .textocinco{
        font-size: 1rem;
    }
    .subtitulocinco{
        font-size: 1rem;
    }
    .subtextocinco{
        font-size: 1rem;
        width: 20rem;
    }
    .boxsombracinco{
        width: 25rem;
    }
    .boxcinco{
        width: 25rem;
    }
    .pileta{
        width: 5rem;
        height: 10rem;
    }
    .titulosiete{
        font-size: 2rem;
    }
    .textosiete{
        font-size: 1rem;
        width: 20rem;
    }
    .minifoto{
        height: 5rem;
        width: 5rem;
    }
    .ilera{
        width: 15rem;
    }
    .textofooter{
        font-size: 1rem;
        width: 10rem;
    }
    .email{
        width: 5rem;
    }
    .submit{
        width: 5rem;
    }
    .nombre{
        font-size: 1rem;
    }
    .subtituloseis{
        font-size: 1rem;
    }
    .dosseis{
        font-size: 0.5rem;
    }
    .tituloseis{
        font-size: 1rem;
    }
    .textotres{
        font-size: 1rem;
    }
    .perfil{
        height: 1rem;
    }
}  */